apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager-webhook-loopia
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Identitry/cert-manager-webhook-loopia
    targetRevision: main
    path: charts/cert-manager-webhook-loopia
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
